extends ../layout

block page_css
	link(href="../assets/css/base.css",rel="stylesheet")
	link(href="../assets/css/post.css",rel="stylesheet")

block content
	h1.title #{title}
	article.container
		div.date !{date}
		div !{content}