.site-name {
	text-align: center;
	height: 200px;
	line-height: 200px;

}

.container {
	min-height: 600px;
	box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);
}

.article {
	list-style-type: none;
	min-height: 100px;
}

.article .article-title {
	font-size: 30px;
	color: #555;
}

.article .abstract {
	margin-top: 20px;
	color: #222;
	font-size: 16px;
}

.article-list {
	margin-bottom: 50px;
}